@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

$container-padding: 2rem !important;
$container-gap: 1rem !important;

.container {
    @include ms-Grid;
    padding-left: $container-padding;
    padding-right: $container-padding;
    display: flex;
    flex-direction: column !important;
    margin-top: 0px !important;
}

.Addcontainer {
    display: flex;
    align-items: center; 
    // gap: 2px !important; 
    margin-left: 10px !important;

}


.searchBar {
    width: 20%;
    height: 10% !important;
    left: 1.25rem !important; 
    margin-inline-start: auto !important;
    margin-right: 85px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    // padding-left: 20px !important;
    input{
        margin-left: 10px !important;
    }
}


.searchInput {
    
    display: contents !important;
    padding-left: 20px !important;
   

}

.iconFilter {
    color: black;
    margin-left: 0.5rem;
    height: 20px !important;
}



.Addbutton {
    background-color: var(--primarycolor) !important;
    border: none !important;
    color: white !important;
    padding: 5px !important;
    // padding-left: 5px !important;
    // padding-right: 5px !important;
    border-radius: 4px !important;
}

.Clientcontainer {
    background-color: white !important;
    margin-left: 0.625rem !important; 
}

.Assignbutton{
    background-color: var(--secondarycolor) !important;
    color: black !important;
    padding: 3px !important;
    border-radius: 4px !important;
    right: 40px !important;

}
.Homebreadcrumb{
    margin-left: -16 !important;
    padding: 0px !important;
    // padding-top: 15px !important;
}



