@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

$searchmodule-padding: 0.4rem;
$searchInput-border-radius: 1.25rem;

.searchmodule {

    .iconFilter {
        color: white;
        margin-left: 0.5rem;
    }

}

.dialogTitle {
    text-align: center !important;
    font-weight: bold !important;
    color: var(--primarycolor);
    margin-top: 0px !important;

}

.addTitle {
    color: var(--primarycolor) !important;
}