.searchInput {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 20px !important;
    justify-content: space-between;
    padding-right: 0px !important;
}

.IconSearch {
    color: rgb(56, 54, 54) !important;
    position: relative !important;
    margin-left: auto !important;
    bottom: 2px !important;
    color: var(--primarycolor);
}


.SearchIcon {
    align-items: right !important;
    display: flex;
}

.iconFilter {
    color: white;
    margin-left: 0.5rem;


}


.searchBar {
    background: #c7d5e2;
    border-radius: 20px;    
    border: 2px solid #fff !important;
    overflow: hidden;
}

// .searchBar:focus-within {
//     border: 1px solid #fff !important;
// }

// .searchBar:hover {
//     border: 1px solid #fff !important;
// }

.label, .textfield  {
    color: black;
  }

.IconSearchCommon {
    border: none;
    cursor: default;
}

.IconSearchEnabledCommon {
    color: #125895 !important;
    cursor: pointer;
}

.IconSearchDisabledCommon {
    color: #878787 !important;
}
