// Import Office UI Fabric Core
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

// Variables
$searchmodule-padding: 0.4rem;
$searchInput-border-radius: 1.25rem;

// Styles
.searchmodule {

    // Grid Container
    .container {
        @include ms-Grid;
        background-color: var(--primarycolor);
        padding: $searchmodule-padding;
    }

    // Grid Row
    .row {
        @include ms-Grid-row;
    }

    // Grid Columns
    .col6 {
        @include ms-Grid-col;
        @include ms-md6;
        @include ms-sm12;
        @include ms-lg6;
    }

    .col2 {
        @include ms-Grid-col;
        @include ms-lg2;
        @include ms-md2;
        @include ms-sm12;
    }

    .col8 {
        @include ms-Grid-col;
        @include ms-lg10;
        @include ms-md10;
        @include ms-sm12;
    }

    .col12 {
        @include ms-Grid-col;
        @include ms-lg12;
    }

    // Generic Column
    .column {
        @include ms-Grid-col;
        width: 100% !important;
    }

    // Search Bar
    .searchBar {
        width: 70%;
    }

    // Search Input
    .searchInput {
        display: flex;
        align-items: center;
        width: 80%;
        border-radius: $searchInput-border-radius !important;
    }

    // Icon Filter
    .iconFilter {
        color: white;
        margin-left: 0.5rem;
    }


}