@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

.uploadButton {
    background-color: var(--secondarycolor) !important;
    border-radius: 0.65rem !important;
    color: black !important;
    width: max-content;
    padding: 0.4rem !important;
    font-weight: none !important;
    margin-left: 3.125rem !important;
    margin-top: 4px !important;

}

.RadioButton {
    display: flex;
}

.ProjectDialogue {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

.Projectfield,
.Clientfield {
    width: 100% !important;
}

.Question1,
.Question2 {
    width: 100%;
}

.CancelButton,
.SaveButton {
    border-radius: 2px !important;
}