@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';
.container {
    @include ms-Grid;
    // padding: 0.4rem;
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        display: flex;
        flex-direction: column !important;
        // gap: 2rem !important;
        :not(:first-child){
            gap: 2rem !important;
        }

        
}
.Addcontainer{
    // padding-left: 5rem !important;
    // padding-right: 5rem !important;
    display: flex;
    flex-direction: column !important;
    gap:2 rem !important
}

.searchBar {
    width: 20%;
    left: 20px !important;
    // border-radius: 30% !important;
}

.searchInput {
    display: flex;
    align-items: center;
    min-width: 20%;
    // border-radius: 20px !important;
}

.iconFilter {
    color: white;
    margin-left: 0.5rem;
}
.Addbutton{
    display: flex;
    // padding: ;
}


.Clientcontainer{
    background-color: white !important;
    margin-left: 10px !important;
}
.Searchspan{
    display: flex !important;
  
  
}

.Clientbutton{
    background-color: transparent !important;
    border: none !important;
    color: var(--primarycolor) !important;
}
