@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

.projectsClient {

    .projectContainer,
    .projectRow,
    .projectColumn,
    .projectCol12,
    .projectCol13 {
        padding: var(--padding) !important;
        margin: var(--margin) !important
    }

    .projectC3,
    .clientC3 {
        min-height: 15rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        text-align: center;
    }

    .container {
        @include ms-Grid;
    }

    .row {
        @include ms-Grid-row;
        @include ms-md12;
    }

    .col3 {
        @include ms-Grid-col;
        @include ms-lg3;
        @include ms-md3;
        @include ms-sm12;
    }

    .col4 {
        @include ms-Grid-col;
        @include ms-lg4;
        @include ms-md4;
        @include ms-sm12;
    }


    .col12 {
        @include ms-Grid-col;
        @include ms-lg12;
    }

    .column {
        @include ms-Grid-col;
        width: 100% !important;
    }
}


.projectImage {
    width: 100%;
    height: auto;
}


.projectC3 {
    position: relative;
}

.projectContent,
.clientContent {

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projectNumber,
.clientNumber {
    font-size: 35px;
    color: var(--primarycolor) !important;
    font-weight: bold;
}

.projectHeading,
.clientText {
    font-size: 18px;
    color: var(--primarycolor) !important;
    margin-top: -5px !important;
}