
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';



.projectsClient {

    .projectContainer, .projectRow, .projectColumn, .projectCol12, .projectCol13{
        padding: var(--padding) !important;
        margin: var(--margin) !important
    }
    .projectC3, .clientC3{
        min-height: 15rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        text-align: center
        
        
    }
    .container {
        @include ms-Grid;
    }

    .row {
        @include ms-Grid-row;
        @include ms-md12;
    }

    .col3 {
        @include ms-Grid-col;
        @include ms-lg3;
        @include ms-md3;
        @include ms-sm12;
    }

    .col4 {
        @include ms-Grid-col;
        @include ms-lg4;
        @include ms-md4;
        @include ms-sm12;
    }
    
    

    // .col4{
    //     @include ms-Grid-col;
    // }
    
    // .col6 {
    //     @include ms-Grid-col;
    //     @include ms-md6;
    //     @include ms-sm12;
    //     @include ms-lg6;
    // }
    // .col2{
    //     @include ms-Grid-col;
    //     @include ms-lg2;
    //     @include ms-md2;
    //     @include ms-sm12;
    //     background-color: pink;
    // }
    // .col8{
    //     @include ms-Grid-col;
    //     @include ms-lg10;
    //     @include ms-md10;
    //     @include ms-sm12;
    // }

    .col12 {
        @include ms-Grid-col;
        @include ms-lg12;
    }

    .column {
        @include ms-Grid-col;
        // border: 1px solid #ccc;
        // padding: 10px;
        width: 100% !important;
    }
}



