p{
    margin:0;
    padding:0;
}

.Logo-navbar {
    height: 30px;

}
// .Header{
//     display:table-row;
// }


// .customNavbar {
//     background-color: #125895;
//     height: 45px;


//     .searchBar {
//         height: 25px;
//         margin-left: 30px;
//         width: 500px;
//         border-radius: 0.8rem;
//         padding: 0.2rem 0.5rem;
//         border: 1px solid #ced4da;
//         font-size: 0.9rem;
//         background-color: #acbece;

//     }

//     .btn {
//         padding: 0.375rem;
//     }


//     .search-icon {

//         position: absolute; 
//         right: 10px; 
//         top: 50%; 
//         transform: translateY(-50%); 
//         color: black; 
      

//     }
// }


// .sideMenu {
//     // width: 250px;
//     background-color: #125895;
//     height: 40vh;
//     padding: 20px;
//     position: fixed;
//     // top: 140;
//     right: 0;
// }

// .sideBar{
//     display: flex;
// }

// .sideNavMenu{
//     color: white
// }

// .sideText{
//     border-Bottom: 1px solid white;
//     //  padding-Bottom: 3px;
//     display: inline-block;
//     width: 100%;
// }


  
// .custom-upload-container {
//     position: relative;
//     display: inline-block;
//     margin-left: auto;
//     margin-right: 20px;
//     // padding-right: 10px; 
// }

// .upload-icon {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     color: white;
//     background-color: #125895;
//     border-radius: 50%;
//     padding: 8px; 
//     font-size: 30px; 
//     margin-right: 40px;
// }

// .uploadButton {
//     background-color: #dba236 !important;
//     min-height: 30px;
//     max-width: 200px;
 
// }

// .imageColumn {
//     /* Set max height for the image column */
//     max-height: 100%;
//     overflow: hidden; /* Hide overflow */
//     display: flex; /* Use flexbox for centering */
//     // align-items: center; /* Center image vertically */
//   }
  
//   .image {
//     /* Set max width for the image */
//     max-width: 100%;
//     height: auto; /* Maintain aspect ratio */
//   }