@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/_SPFabricCore.scss';

:root {
    --padding: "0px";
    --margin: "0px";
}

.sideNav {
    p {
        padding: var(--padding);
        margin: var(--margin);
    }

    .container {
        @include ms-Grid;

    }

    .row {
        @include ms-Grid-row;
        @include ms-md12;
    }

    .col6 {
        @include ms-Grid-col;
        @include ms-md6;
        @include ms-sm12;
        @include ms-lg6;
    }

    .col2 {
        @include ms-Grid-col;
        @include ms-lg2;
        @include ms-md2;
        @include ms-sm12;
    }

    .col8 {
        @include ms-Grid-col;
        @include ms-lg10;
        @include ms-md10;
        @include ms-sm12;
    }

    .col12 {
        @include ms-Grid-col;
        @include ms-lg12;
    }

    .column {
        @include ms-Grid-col;
        width: 100% !important;
    }

    .sideNavMenu {
        color: white;
    }

    .sidenavBar {
        background-color: var(--primarycolor);

        padding: var(--padding) !important;
        margin: var(--margin) !important;

        min-height: 15rem;
        flex-direction: column;
        gap: 5px !important;


    }

    .sideText {
        border-bottom: 0.0625rem solid white;
        display: inline-block;
        width: 100%;
        margin-bottom: 0.2 rem;
    }

    $sideImageUrl: url('/src/assets/images/homeImage.png');
    // $sideImageUrl: url("../../../../assets/Images/Home.png");

    .sideImage {
        background-image: $sideImageUrl;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--primarycolor);
        position: absolute;
        min-height: 15rem;
        object-fit: cover;
    }

    .loremTextContainer {
        position: absolute;
        float: left;
        width: 15%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        box-sizing: border-box;
        // overflow: hidden;
    }

    .loremText {
        column-count: 1;
        column-gap: 20px;
        height: 100%;
        // overflow: hidden;
    }

    .heading {
        white-space: nowrap !important;
        overflow: visible !important;
    }

    .sideContainer {
        padding: var(--padding) !important;
    }

    .sideNavContainer,
    .sideNavColumn {
        padding: var(--padding) !important;
        margin: var(--margin) !important;
    }

    .sideRowContainer {
        margin: var(--margin) !important;
    }


    .hoverEffect {
        &:hover {
            color: var(--primarycolor) !important;
            background-color: var(--secondarycolor) !important;
        }
    }


}

.sidenavBar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sideNavItem {
    width: 100%;
    padding: 5px 0px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.divider {
    width: 80%;
    height: 1px;
    background-color: white;
}

// .sideNavItem ::after {
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: var(--primarycolor);
//     transition: width .3s;
// }

.sideNavItem:hover {
    background-color: var(--secondarycolor) !important;

    .sideNavLink {
        color: var(--primarycolor) !important;
    }
}

.sideNavLink {
    text-decoration: none;
    color: #fff !important;
    font-weight: 700;
    list-style: none;
    text-align: center;
    padding-left: 25px;
}