.sideMenu {
    background-color: #125895;
    margin-left: 0rem !important; 
    display: contents;
}

.sideMenuStack {
    background-color: #125895;
    margin-left: 0rem !important;
    width: 20%;
}

.sideBar {
    display: flex;
}

.sideNavMenu {
    color: white;
}

.sideText {
    border-bottom: 0.0625rem solid white; /* 1px is approximately 0.0625rem */
    display: inline-block;
    width: 100%;
}


